body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #3498db;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    margin: 0;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropbtn {
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    transition: background-color 0.3s ease;
}

th {
    background-color: #3498db;
    color: white;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}

tr:hover {
    background-color: #e0e0e0;
}

footer {
    background-color: #3498db;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
    border-top: 2px solid #1a252f;
    margin-top: auto;
}