body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: #3498db;
    margin: 10px;
    display: inline-block;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

th,
td {
    padding: 8px;
}

th {
    background-color: #3498db;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

button {
    background-color: #5bc0de;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

header {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border-bottom: 2px solid #1a252f;
    display: flex;
    justify-content: space-around;
}

.ListE {
    font-size: 40px;
    margin-right: 150px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    color: #ecf0f1;
    text-shadow: 4px 4px 2px #050505;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropbtn {
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.action-buttons {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.action-buttons a {
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.action-buttons a:hover {
    background-color: #0056b3;
}

.action-buttons i {
    margin-right: 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #888;
    font-size: 14px;
}