<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Empresas</title>
    <link rel="stylesheet" href="../css/empresa.css">
</head>

<body>
    <header>
        <h1>Empresas Reconocidas</h1>
        <div class="dropdown">
            <button class="dropbtn">Menú</button>
            <div class="dropdown-content">
                <a href='/home'>Inicio</a>
                <a href='/evaluaciones/lista'>Evaluaciones</a>
                <a href='/promedio/lista'>Promedios</a>
                <a href='/empresa/formulario'>Crear Empresa</a>
            </div>
        </div>
    </header>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>ID CENS</th>
            <th>ID Anexo Tec</th>
            <th>Promedio AT</th>
            <th>Promedio CENS</th>
            <th>Acciones</th>
        </tr>

        <tr th:each="empresa : ${empresas}">
            <td th:text="${empresa.id}"></td>
            <td th:text="${empresa.nombre}"></td>
            <td th:text="${empresa.direccion}"></td>
            <td th:text="${empresa.telefono}"></td>
            <td th:text="${empresa.email}"></td>
            <td th:text="${empresa.id_cens}"></td>
            <td th:text="${empresa.id_anexo_tec}"></td>
            <td th:text="${empresa.promedio_at}"></td>
            <td th:text="${empresa.promedio_cens}"></td>
            <td>
                <a th:href="@{/empresa/editar/{id}(id=${empresa.id})}">✏️ Editar</a>
                <a th:href="@{/empresa/eliminar/{id}(id=${empresa.id})}">🗑️ Eliminar</a>
            </td>
        </tr>
    </table>

    <footer>
        &copy; 2023 CENS - Todos los derechos reservados
    </footer>
</body>

</html>